.sub-menu-wrap{
    position: absolute;
    top: 50px;
    height: 300px;
    right: 5%;
    width: 150px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: #ffffff;
    z-index:9999;
}

.sub-menu-wrap.open-menu{
    max-height:400px;
}

.sub-menu hr{
    border: 0;
    height: 0px;
    width: 50%;
    background: #ffffff;
    z-index:9999;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    z-index:9999;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link span{
    font-size: 9px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 200;
}